[submodule "busybox"]
	path = busybox
	url = https://github.com/brgl/busybox.git
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv-software-src/opensbi.git
